.card {
  margin-top: 1rem;
  margin-right: 1rem;
}

.cont-mid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.notFound {
  font-size: 34px;
  text-transform: uppercase;
}

.pagination {
  margin-top: 1rem;
}
